
@import "/XGUI/FunctionStyles/FunctionStyles.scss";

$base-colour: #C0C0C0;
$base-colour-inset: #FFFFFF;
$base-colour-active: #00047C;

$border-colour-control-pushed: #808080;
$border-colour-top: #DFDFDF;
$border-colour-left: #DFDFDF;
$border-colour-bottom: #808080;
$border-colour-right: #808080;

$border-colour-top-outer: #FFFFFF;
$border-colour-left-outer: #FFFFFF;
$border-colour-bottom-outer: #000000;
$border-colour-right-outer: #000000;

$border-colour-top-window: #FFFFFF;
$border-colour-left-window: #FFFFFF;
$border-colour-bottom-window: #808080;
$border-colour-right-window: #808080;

$border-colour-top-outer-window: #DFDFDF;
$border-colour-left-outer-window: #DFDFDF;
$border-colour-bottom-outer-window: #000000;
$border-colour-right-outer-window: #000000;

$border-colour-top-inset: #000000;
$border-colour-left-inset: #000000;
$border-colour-bottom-inset: #DFDFDF;
$border-colour-right-inset: #DFDFDF;

$border-colour-top-outer-inset: #808080;
$border-colour-left-outer-inset: #808080;
$border-colour-bottom-outer-inset: #FFFFFF;
$border-colour-right-outer-inset: #FFFFFF;

$default-text-size: 11px;
$default-text-font: "Microsoft Sans Serif";
$default-text-smooth: never;

$default-text-colour: #000000;
$default-text-colour-active: #000000;
$default-text-colour-alt: #FFFFFF;

$outer-boxshadow: 1px 0px 0px 0px $border-colour-right-outer, 1px 1px 0px 0px $border-colour-right-outer, 1px -1px 0px 0px $border-colour-right-outer, -1px 1px 0px 0px $border-colour-bottom-outer, -1px 0px 0px 0px $border-colour-left-outer, 0px -1px 0px 0px $border-colour-top-outer, -1px -1px 0px 0px $border-colour-top-outer;
$outer-boxshadow-inset: 1px 0px 0px 0px $border-colour-right-outer-inset, 1px 1px 0px 0px $border-colour-right-outer-inset, 1px -1px 0px 0px $border-colour-right-outer-inset, -1px 1px 0px 0px $border-colour-bottom-outer-inset, -1px 0px 0px 0px $border-colour-left-outer-inset, 0px -1px 0px 0px $border-colour-top-outer-inset, -1px -1px 0px 0px $border-colour-top-outer-inset;
$outer-boxshadow-window: 1px 0px 0px 0px $border-colour-right-outer-window, 1px 1px 0px 0px $border-colour-right-outer-window, 1px -1px 0px 0px $border-colour-right-outer-window, -1px 1px 0px 0px $border-colour-bottom-outer-window, -1px 0px 0px 0px $border-colour-left-outer-window, 0px -1px 0px 0px $border-colour-top-outer-window, -1px -1px 0px 0px $border-colour-top-outer-window;
$outer-boxshadow-tab: 1px 0px 0px 0px $border-colour-right-outer, -1px 0px 0px 0px $border-colour-left-outer, 0px -1px 0px 0px $border-colour-top-outer;

.Window {
    overflow: hidden;
    padding: 1px;
    color: $default-text-colour;
    border-top: 1px solid $border-colour-top-window;
    border-left: 1px solid $border-colour-left-window;
    border-bottom: 1px solid $border-colour-bottom-window;
    border-right: 1px solid $border-colour-right-window;
    box-shadow: $outer-boxshadow-window;
    background-color: $base-colour;
    font-size: $default-text-size;
    font-family: $default-text-font;
    font-smooth: $default-text-smooth;

    &.unfocused {
        .TitleBar {
            background-color: #808080;
        }
    }

    .TitleBar {
        margin-bottom: 1px;
        align-items: center;
        height: 18px;
        padding: 2px;
        background-color: #000080;
        color: $default-text-colour-alt;
        flex-shrink: 0;

        .TitleSpacer {
            padding: 10px;
        }

        .TitleIcon {
            width: 16px;
            height: 16px;
            background-size: cover;
            margin-top: 4px;
        }

        .TitleLabel {
            font-weight: bold;
            padding: 4px;
            padding-top: 5px;
        }

        .Control {
            padding-top: 1px;
            padding-left: 1px;
            width: 14px;
            height: 12px;
            align-items: center;
            justify-content: center;
            border-top: 1px solid $border-colour-top;
            border-left: 1px solid $border-colour-left;
            border-bottom: 1px solid $border-colour-bottom;
            border-right: 1px solid $border-colour-right;
            color: $default-text-colour;
            box-shadow: $outer-boxshadow;
            font-family: Marlett;
            font-size: 10;
            margin-left: 1px;

            &:active {
                padding-top: 2px;
                padding-left: 2px;
                border-top: 1px solid $border-colour-top-inset;
                border-left: 1px solid $border-colour-left-inset;
                border-bottom: 1px solid $border-colour-bottom-inset;
                border-right: 1px solid $border-colour-right-inset;
                box-shadow: $outer-boxshadow-inset;

                &:focus, &.focus {
                    border: 0px;
                    box-shadow: 0px 0px 0px 2px black, 0px 0px 0px 1px $border-colour-control-pushed;
                }
            }
        }

        .CloseButton {
            margin-left: 3px;
        }
    }
}

//

.Button {
    height: 19px;
    margin-bottom: 1px;
    margin-right: 1px;
    padding-top: 3px;
    padding-left: 0px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $border-colour-top;
    border-left: 1px solid $border-colour-left;
    border-bottom: 1px solid $border-colour-bottom;
    border-right: 1px solid $border-colour-right;
    box-shadow: $outer-boxshadow;
    background-color: $base-colour;

    &:active {
        padding-top: 4px;
        padding-left: 1.5px;
        border-top: 1px solid $border-colour-top-inset;
        border-left: 1px solid $border-colour-left-inset;
        border-bottom: 1px solid $border-colour-bottom-inset;
        border-right: 1px solid $border-colour-right-inset;
        box-shadow: $outer-boxshadow-inset;

        &:focus, &.focus {
            border: 0px;
            box-shadow: 0px 0px 0px 2px black, 0px 0px 0px 1px $border-colour-control-pushed;
        }
    }

    &:focus, &.focus {
        box-shadow: 0px 0px 0px 2px black, $outer-boxshadow;
    }
}

.textentry {
    border-top: 1px solid $border-colour-top-inset;
    border-left: 1px solid $border-colour-left-inset;
    border-bottom: 1px solid $border-colour-bottom-inset;
    border-right: 1px solid $border-colour-right-inset;
    background-color: $base-colour-inset;
    box-shadow: $outer-boxshadow-inset;
    height: 22px;
    padding: 0px;
    padding-top: 3px;
}

.TabContainer {
    flex-direction: column;

    > .tabs {

        > .button {
            background-color: $base-colour;
            border-top: 1px solid $border-colour-top;
            border-left: 1px solid $border-colour-left;
            border-bottom: 1px solid $border-colour-top;
            border-right: 1px solid $border-colour-right;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            font-size: $default-text-size;
            font-family: $default-text-font;
            font-smooth: $default-text-smooth;
            padding-top: 2px;
            // Move unselected ones down
            height: 18px;
            align-items: center;
            min-width: 64px;
            top: 4px;
            margin-right: 2px;
            box-shadow: $outer-boxshadow-tab;
            z-index: 0;
            &:active {
                padding-top: 2px;
                padding-left: 0px;
            }
            &.active {
                padding-top: 0px; 
                color: $default-text-colour-active;
                // Offset up when selected
                top: 2px;
                z-index: 15;
                border-bottom: 0px;
                height: 20px;
            }

            &:hover {
            }
        }
    }


    > .sheets {
        overflow: hidden;
        background-color: $base-colour;
        border-top: 1px solid $border-colour-top;
        border-left: 1px solid $border-colour-left;
        border-bottom: 1px solid $border-colour-bottom;
        border-right: 1px solid $border-colour-right;
        box-shadow: $outer-boxshadow;
        padding: 5px;
        z-index: 10;
    }
}

// checkbox

.checkbox {

    .checkpanel, iconpanel {
        border-top: 1px solid $border-colour-top-inset;
        border-left: 1px solid $border-colour-left-inset;
        border-bottom: 1px solid $border-colour-bottom-inset;
        border-right: 1px solid $border-colour-right-inset;
        background-color: $base-colour-inset;
        box-shadow: $outer-boxshadow-inset;
        width: 11px;
        height: 11px;
    }

    .label {
        margin-left: 6px;  
    }


    &.checked {

        > .checkpanel, .iconpanel {
            .checklabel {
                font-family: Marlett;
                font-size: 16px;
                color: black;
                top:-4px;
                left:-9px;
            }
        }

        > .checkmark {
            //color: $primary-alt;
            color: white;
            background-color: transparent;
        }
    }
}
// Slider

.sliderroot {
    > .label {
        height: 20px;  
    }
}
.slider {
    margin-right: 8px;

    > .thumb {
        background-color: $base-colour;
        border-top: 1px solid $border-colour-top;
        border-left: 1px solid $border-colour-left;
        border-bottom: 1px solid $border-colour-bottom;
        border-right: 1px solid $border-colour-right;
        box-shadow: $outer-boxshadow;
    }

    > .track {
        height: 2px;
        border-top: 1px solid $border-colour-top-inset;
        border-left: 1px solid $border-colour-left-inset;
        border-bottom: 1px solid $border-colour-bottom-inset;
        border-right: 1px solid $border-colour-right-inset;
        background-color: $base-colour-inset;
        box-shadow: $outer-boxshadow-inset;
    }
}
// Selector/Dropdown

.selector {
    border-bottom: 1px solid $border-colour-bottom-inset;
    border-right: 1px solid $border-colour-right-inset;
    border-top: 1px solid $border-colour-top-inset;
    border-left: 1px solid $border-colour-left-inset;
    background-color: $base-colour-inset;
    box-shadow: 1px 1px white;
    height: 20px;
    justify-content: flex-start;
    box-shadow: $outer-boxshadow-inset;

    > .selector_indicator {
        background-color: $base-colour;
        border-top: 1px solid $border-colour-top;
        border-left: 1px solid $border-colour-left;
        border-bottom: 1px solid $border-colour-bottom;
        border-right: 1px solid $border-colour-right;
        background-repeat: no-repeat;
        background-position: right center;
        width: 15px;
        height: 16px;
        position: absolute;
        top: 1px;
        right: 0px;
        box-shadow: $outer-boxshadow;

        font-family: Marlett;
        font-size: 15px; 
    }

    &:active {
        padding: 0px;
        padding-top: 3px;
    }
}

// Popup / Pane

.pane-panel {
    background-color: $base-colour-inset;
    border: 1px solid black;

    > .button {
        background-color: $base-colour-inset;
        border: 0px;
        box-shadow: 0px 0px 0px transparent;
        height: 13px;

        &:hover {
            color:white;
            background-color: $base-colour-active;
        }
    }
}


// ------------------
// Layout Elements
// ------------------

LayoutBoxInset {
    border-bottom: 1px solid $border-colour-bottom-inset;
    border-right: 1px solid $border-colour-right-inset;
    border-top: 1px solid $border-colour-top-inset;
    border-left: 1px solid $border-colour-left-inset;
    background-color: $base-colour-inset;
    box-shadow: $outer-boxshadow-inset;
}

LayoutBox {
    background-color: $base-colour;
    border-top: 1px solid $border-colour-top;
    border-left: 1px solid $border-colour-left;
    border-bottom: 1px solid $border-colour-bottom;
    border-right: 1px solid $border-colour-right;
    box-shadow: $outer-boxshadow;
}
