
@import "/XGUI/FunctionStyles/FunctionStyles.scss";

$base-colour: #0F0F0FEF;
$title-colour: #28497AFF;
$header-colour: #4296F9CC;
$header-active-colour: #4296F94F;
$border-colour: #6D6D7F7F;
$frame-colour: #6D6D6D63;
$button-colour: #4296F966;
$button-active-colour: #0F87F9FF;
$element-colour: #4296F9FF;
$frame-background-colour: #28497A89;

$default-text-colour: #FFFFFF;
$default-text-size: 13px;
$default-text-font: Tahoma;
$default-text-smooth: never;

$window-title-icon: url("XGUI/Resources/icon_down.png");

.Panel {
    color: $default-text-colour;
    font-size: $default-text-size;
    font-family: $default-text-font;
    font-smooth: $default-text-smooth;
}

.Window {
    color: white;
    border: 1px solid $border-colour;
    background-color: $base-colour;

    .TitleBar {
        height: 18px;
        background-color: $title-colour;
    }

    .Control {
        height: 16px;
        width: 16px;
        font-family: Marlett;
        font-size: 8px;
        background-color: transparent;
        border: none;
    }

    .TitleIcon {
        width: 17px;
        height: 17px;
        background-image: $window-title-icon;
        margin-right: 8px;
        background-repeat: no-repeat;
        background-position: center; 
    }
}
button {
    color: white;
    align-items: center;
    justify-content: center;
    background-color: $button-colour;
    height: 19px;

    &:active, &.active {
        background-color: $button-active-colour;
    }
}

// checkbox

.checkbox {

    .checkpanel, iconpanel {
        width: 19px;
        height: 19px;
        background-color: $frame-background-colour;
        align-items: center;
        justify-content: center;
    }

    >.label {
        margin-left: 5px;
    }


    &.checked {

        > .checkpanel, .iconpanel {
            .checklabel {
                font-family: Marlett;
                font-size: 22px;
                color: $element-colour;
            }
        }

        > .checkmark {
            color: $element-colour;
            background-color: transparent;
        }
    }
}

// selector

.selector {
    background-color: $frame-background-colour;
    height: 19px;
    justify-content: flex-start;

    > .label {
        padding: 5px;
    }

    > .selector_indicator {
        padding:0px;
        background-color: $element-colour;
        background-repeat: no-repeat;
        background-position: right center;
        width: 15px;
        height: 16px;
        position: absolute;
        top: 1px;
        right: 0px;
        font-family: Marlett;
        font-size: 15px;
    }

    &:active {
        padding: 0px;
        padding-top: 3px;
    }
}

// tabs

.TabContainer {
    flex-direction: column;

    > .tabs {

        > .button {
            justify-content: flex-start;
            padding-left: 5px;
            margin-left: 4px;
            margin-top: 1px;
            background-color: $header-active-colour;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            height: 17px;
            min-width: 68px;

            &:active, &.active {
                background-color: $header-colour;
            }

            &:hover {
            }
        }
    }


    > .sheets {
        overflow: hidden;
        border-top: 1px solid $header-colour;
    }
}

// Slider

.sliderroot {
    > .label {
        height: 20px;
    }
}

.slider {

    > .thumb {
        background-color: $element-colour;
        width: 12px;
        height: 15px;
    }

    > .track {
        height: 19px;
        background-color: $frame-background-colour;
    }

    > .scalesteps {

        > .step {
            display:none;
        }
    }
}