
@import "/XGUI/FunctionStyles/FunctionStyles.scss";

$base-colour: #0F0F0FEF;
$title-colour: #28497AFF;
$border-colour: rgba(0.50, 0.50, 0.50, 0.50);
$frame-colour: #6D6D6D63;
$button-colour: #4296F966;

$default-text-colour: #FFFFFF;
$default-text-size: 13px;
$default-text-font: Tahoma;
$default-text-smooth: never;

$window-title-icon: url("XGUI/Resources/icon_down.png");

.Panel {
    color: $default-text-colour;
    font-size: $default-text-size;
    font-family: $default-text-font;
    font-smooth: $default-text-smooth;
}

.Window {
    color: white;
    border: 1px solid $border-colour;
    background-color: $base-colour;

    .TitleBar {
        height: 18px;
        background-color: $title-colour;
    }

    .Control {
        height: 16px;
        width: 16px;
        font-family: Marlett;
        font-size: 8px;
        background-color:transparent;
        border: none;
    }

    .TitleIcon {
        width: 10px;
        height: 10px;
        background-image: $window-title-icon;
        background-size: cover;
        margin-top: 4px;
        margin-right: 16px;
    }
}
button { 
    color: white;
    align-items:center;
    justify-content:center;
    border: 1px solid $border-colour;
    background-color: $button-colour;
    height:19px;

    &:active {
        color: yellow;
        border: 1px solid yellow;
    }

    &.active {
        color: yellow;
        border: 1px solid yellow;
    }
} 