//@import "/styles/base.scss";
//@import "/styles/form.scss";
@import "/XGUI/FunctionStyles/FunctionStyles.scss";

$base-colour: #2A2E33;
$base-colour-inset: #2A2E33;
$base-colour-active: #193754;
$base-colour-misc: #33383E;

// Meant to be 48px down but only % values supported by s&box right now
$base-gradient: linear-gradient(-90deg, #212935, #2A2E33 15%);
$base-gradient-alt: linear-gradient(-90deg, #212934, #2A2E33);
$sheet-gradient: linear-gradient(-90deg, #2A2E33, #353A40);
$button-gradient: linear-gradient(-90deg, #434953, #33383E);
$button-focus-gradient: linear-gradient(-90deg, #525966, #33383E);
$button-active-gradient: linear-gradient(-90deg, #52596600, #33383E);
$border-gradient: linear-gradient(-45deg, #193754, #000000);
$tab-gradient: linear-gradient(-90deg, #4C545D, #2B3035);
$tab-inactive-gradient: linear-gradient(-90deg, #353A40, #353A40);
$list-gradient: linear-gradient(-90deg, #222224AA, #16191C);

$border-colour-top: #4C545D;
$border-colour-left: #4C545D;
$border-colour-bottom: #4C545D;
$border-colour-right: #4C545D;


$border-colour-top-inset: #4B5466;
$border-colour-left-inset: #4B5466;
$border-colour-bottom-inset: #4B5466;
$border-colour-right-inset: #4B5466;


$default-text-colour: rgba(200,208,220,255);
$default-text-colour-active: rgba(228,233,240,255);
$default-text-colour-label: rgba(168, 172, 179, 255);
$default-text-colour-info: rgba(178,186,196,255);
$default-text-size: 13px;
$default-text-font: Arial;
$default-text-smooth: always;

$window-title-icon: none;
$window-minimise-button: url("XGUI/Resources/controls_grey/min.png");
$window-minimise-button-hover: url("XGUI/Resources/controls_grey/min_hover.png");
$window-maximise-button: url("XGUI/Resources/controls_grey/max.png");
$window-maximise-button-hover: url("XGUI/Resources/controls_grey/max_hover.png");
$window-close-button: url("XGUI/Resources/controls_grey/close.png");
$window-close-button-hover: url("XGUI/Resources/controls_grey/close_hover.png");
$window-resize-icon: url("XGUI/Resources/icon_resizer.png");

$control-dropdown-arrow: url("XGUI/Resources/icon_down.png");

$gamemenu-logo: url("XGUI/Resources/game_menu.png");
$gamemenu-logo-hover: url("XGUI/Resources/game_menu_mouseover.png");
.Panel {
    color: $default-text-colour;
    font-size: $default-text-size;
    font-family: $default-text-font; 
    font-weight:20;
    font-smooth: $default-text-smooth;
}
.GameMenu {
    padding-left: 32px;
    padding-bottom: 8px;
    color: #C8C8C8;
    font-size: 15px;
    font-weight: bold;

    .Button {
        margin: 4px;
        padding: 0px;
        border: 0px;
        background-color: transparent;

        &:hover {
            color: #FFFFFF;
        }

        &:active {
            margin: 4px;
            padding: 0px;
            border: 0px;
        }
    }

    .Logo {
        width: 196px;
        height: 32px;
        background-image: $gamemenu-logo;
        background-position: center;

        &:hover {
            background-image: $gamemenu-logo-hover;
        }
    }
}
.Window {
    overflow: hidden;
    padding: 4px;
    color: $default-text-colour;
    border-image: $border-gradient;
    background-image: $base-gradient;

    &.unfocused {
        .TitleBar {
            .TitleIcon {
                opacity: 0.24;
            }

            .TitleLabel {
                opacity: 0.24;
            }

            .Control {
                border-color: transparent;
            }
        }
    }

    .TitleBar {
        margin-bottom: 1px;
        flex-shrink: 0;

        .TitleIcon {
            width: 16px;
            height: 16px;
            background-image: $window-title-icon;
            background-size: cover;
            margin-top: 4px;
        }

        .TitleLabel {
            padding: 4px;
        }

        .Control {
            margin: 2px;
            margin-top: 3px;
            padding: 0;
            margin-left: 0px;
            width: 18px;
            height: 18px;
            background-position-x: 1px;
            background-position-y: 1px;


            &:active {
                background-position-x: 2px;
                background-position-y: 2px;
            }
        }

        .MinimiseButton {
            background-image: $window-minimise-button;
            background-size: 15px;
            color: rgba(0,0,0,0);

            &:hover {
                background-image: $window-minimise-button-hover;
            }
        }

        .MaximiseButton {
            background-image: $window-maximise-button;
            background-size: 15px;
            color: rgba(0,0,0,0);

            &:hover {
                background-image: $window-maximise-button-hover;
            }
        }

        .CloseButton {
            background-image: $window-close-button;
            background-size: 15px;
            color: rgba(0,0,0,0);

            &:hover {
                background-image: $window-close-button-hover;
            }
        }
    }

    .Resizer {
        width: 16px;
        height: 16px;
        background-image: $window-resize-icon;
        background-repeat: no-repeat;
        margin-top: 4px;
    }
}

// ------------------
// Control Elements
// ------------------

// Button
.Button {
    padding: 5px;
    height: 24px;
    align-items: center;
    background-image: $button-gradient;
    box-shadow: 0px 0px 0px 0px transparent;

    &:active {
        background-image: $button-active-gradient;
        padding-top: 6px;
        padding-left: 6px;
    }
    /*
    &:focus, &.focus {
        > .label {
            border: 1px solid black;
            width: 100%;
        }
    }*/


    &:focus:not(:active), &.focus:not(:active) {
        background-image: $button-focus-gradient;
    }
}

// TextEntry
.TextEntry {
    padding: 5px;
    height: 24px;
    align-items: center;
    background-color: $base-colour-inset;
    border-top: 1px solid $border-colour-top-inset;
    border-left: 1px solid $border-colour-left-inset;
    border-bottom: 1px solid $border-colour-bottom-inset;
    border-right: 1px solid $border-colour-right-inset;
    .content-label,
	.prefix-label,
	.suffix-label,
	.placeholder
	{
        padding:0px;    
    }
}

// Tabs
.TabContainer {
    flex-direction: column;

    > .tabs {

        > .button {
            background-image: $tab-inactive-gradient;
            font-size: $default-text-size;
            font-family: $default-text-font;
            font-smooth: $default-text-smooth;
            padding: 5px;
            // Move unselected ones down
            height: 20px;
            align-items: center;
            min-width: 64px;
            top: 1px;
            margin-right: 2px;

            &.active {
                padding-top: 4px;
                background-image: $tab-gradient;
                color: $default-text-colour-active;
                // Offset up when selected
                top: 1px;
                z-index: 5;
                border-bottom: 0px;
                height: 23px;
            }

            &:hover {
            }
        }
    }


    > .sheets {
        overflow: hidden;
        background-image: $sheet-gradient;
        border-top: 1px solid $border-colour-top;
        padding: 5px;
        z-index: -5;
    }
}

// Sidebar

.Sidebar {

    > .tabs {
        padding-left: 6px;
        padding-right: 3px;
        background-color: $base-colour-inset;
        border-top: 1px solid $border-colour-top-inset;
        border-left: 1px solid $border-colour-left-inset;
        border-bottom: 1px solid $border-colour-top-inset;
        border-right: 1px solid $border-colour-right-inset;

        > .button {
            background-color: $base-colour-inset;
            border: 0px;
            font-size: $default-text-size;
            font-family: $default-text-font;
            font-smooth: $default-text-smooth;
            height: 20px;

            &.active {
                padding: 5px;
                background-color: $base-colour-active;
            }

            &:active {
                padding: 5px;
            }

            &:focus {
                box-shadow: 1px 1px black;
            }

            &:hover {
            }
        }
    }


    > .sheets {
        overflow: hidden;
        background-color: $base-colour;
        border-top: 1px solid $border-colour-top;
        border-left: 1px solid $border-colour-left;
        border-bottom: 1px solid $border-colour-bottom;
        border-right: 1px solid $border-colour-right;
        padding: 5px;
    }
}

// Slider

.sliderroot {
    > .label {
        height: 20px;
        color: $default-text-colour-label;

        &.focus {
            color: $default-text-colour-active;
        }
    }
}
.slider {
    margin-right: 8px;

    > .thumb {
        background-color: #B1B5BD;

        &:hover {
            background-color: #B1B5BD;
        }
    }

    &:active {
        > .thumb {
            background-color: #B1B5BD;
        }
    }

    > .scalestepmin {
        color: $default-text-colour-label;
        font-size: 9px;
    }

    > .scalestepmax {
        font-size: 9px;
        color: $default-text-colour-label;
    }

    > .scalesteps {
        > .step {
            left: 4px;
            bottom: 8px;
            background-color: #B1B5BD;
            width: 1px;
            height: 5px;
        }
    }

    > .track {
        height: 0px;

        > .inner {
            border-radius: 0px;
            background-color: rgb(31, 31, 31);
            width: 50px;
            height: 0px;
            transition: all 0.2s ease-out;
        }
    }
}


.sliderentry {

    > .slider {
    }

    .textentry:not( .one.two ) {
        border-bottom: 1px solid $border-colour-bottom-inset;
        border-right: 1px solid $border-colour-right-inset;
        border-top: 1px solid $border-colour-top-inset;
        border-left: 1px solid $border-colour-left-inset;
        background-color: $base-colour-inset;

        align-items: center;
        padding: 5px;
        max-width: 48px;
        min-width: 48px;
        width: 48px;
        height: 24px;
        overflow: hidden; 
        margin-left: 16px; 
        font-size: 13px;
    }
}

// Info label
.info {
    color: $default-text-colour-info;
    padding: 3px; 
}

// Checkbox
.checkbox {
    min-width: 24px;
    height: 16px;
    margin-bottom: 6px;
    cursor: pointer;

    .checkpanel, iconpanel {
        flex-shrink: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #666666;
        border-radius: 0px;
        margin-right: 8px;
        color: white;

        .checklabel {
            transform: translate(-4 -4);
            font-family: Webdings;
            font-size: 22px;
            color: transparent;
        }

        &:active {
            border-color: #919191;
        }

        &:hover {
            border-color: #919191;
        }
    }

    .label {
        margin-right: 10px;
        bottom: 1px;
        color: $default-text-colour-label;
    }

    > .checkmark {
        padding: 1px;
        font-size: 14px;
        //border: 3px solid $primary;
        border-radius: 3px;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: transparent;
        min-height: 15px;
        margin-right: 10px;
        pointer-events: none;
        cursor: pointer;
    }

    &.checked {

        .label {
            margin-right: 10px;
        }

        > .checkpanel, .iconpanel {
            .checklabel {
                font-family: Webdings;
                font-size: 22px;
                color: white;
            }
        }

        > .checkmark {
            //color: $primary-alt;
            color: white;
            background-color: transparent;
        }
    }

    &:active {
        color: gray;
        transform: scale(1);
    }
}

// Control Label

.controllabel {
    > .label {
        height:24px;
        align-items:center;
        color: $default-text-colour-label;
    }

    &.focus {
        > .label {
            color: $default-text-colour-active;
        }
    }
}

// Selector/Dropdown

.selector {
    background-color: $base-colour-inset;
    color: $default-text-colour-label;
    height: 24px;

    &:focus, &.focus {
        > .button-label {
            background-color: $base-colour-active;
            color: $default-text-colour;
            border: 0px solid transparent;
            width: auto;
        }
    }

    &:focus:not(:active), &.focus:not(:active) {
        box-shadow: 0px 0px 0px 0px transparent;
    }

    > .selector_indicator {
        border-left: 1px solid $border-colour-left-inset;
        background-image: $control-dropdown-arrow;
        background-repeat: no-repeat;
        background-position: right center;
        font-size: 0px;
        width: 14px;
        height: 16px;
        position: absolute;
        right: 5px;
    }

    &:active {
        padding: 5px;
    }
}

// Popup / Pane

.pane-panel {
    margin-top:2px;
    background-image: $button-gradient; 

    > .button {
        background-image: none;
        border: 0px;

        &:hover {
            color: $default-text-colour-active;
        }
    }
}

selectlist {
    padding: 2px;
    background-image: $list-gradient;

    listoptgroup {
        .group-title {
            background-color: $base-colour-misc;
            height: 19px; 
            align-items: flex-end;
            font-size: 11px;
            color: $default-text-colour-label;
            padding-left: 24px;
            padding-bottom: 2px;
            margin-bottom: 1px;
        }
    }

    .listoption {
        height: 20px;
        min-height: 20px;
        align-items: center;
        padding-left:4px;

        .icon {
            height: 16px;
            width: 16px;
            background-size: contain;
        }

        .label {
            align-self: flex-end;
            margin-left: 4px;
            margin-bottom: 2px;
        }

        &.selected {
            background-color: $base-colour-active;
        }
    }
}

// ------------------
// Layout Elements
// ------------------

LayoutBoxInset {
    border-bottom: 1px solid $border-colour-bottom-inset;
    border-right: 1px solid $border-colour-right-inset;
    border-top: 1px solid $border-colour-top-inset;
    border-left: 1px solid $border-colour-left-inset;
    background-color: $base-colour-inset;
}

LayoutBox {
    background-color: $base-colour;
    border-top: 1px solid $border-colour-top;
    border-left: 1px solid $border-colour-left;
    border-bottom: 1px solid $border-colour-bottom;
    border-right: 1px solid $border-colour-right;
}
