@using Sandbox.UI;
@namespace XGUI
<style>
	Window {
		position: absolute;
		flex-direction:column;
		.TitleBar {
			.TitleIcon {

			}
			.TitleSpacer {
				flex-grow: 1;
			}
			.Control {
			}
		}
	}
</style>
<root class="Window">
	<div class="TitleBar" @ref=TitleBar>
		<div class="TitleIcon" @ref=TitleIcon></div>
		<div>@Title</div>
		<div class="TitleSpacer"></div>
		<button class="Control" @ref=ControlsClose>X</button>
	</div>
</root>

@code 
{

	public Panel TitleBar { get; set; }

	public Vector2 Position;
	public int ZIndex;

	public string Title;
	public bool HasControls;
	public bool IsResizable;

	public Button ControlsClose { get; set; }
	public Button ControlsMinimise { get; set; }
	public Button ControlsMaximise { get; set; }

	public Panel TitleIcon { get; set; }

	public Window()
	{
		AddClass("Window");
	}
	public override void Tick()
	{
		base.Tick();
		Style.Left = Position.x;
		Style.Bottom = Position.y;
		Style.ZIndex = ZIndex;
	}
	public override void SetProperty( string name, string value )
	{
		switch ( name )
		{
			case "title":
				{
					Title = value;
					return;
				}
		}
	}
}