@import "/XGUI/FunctionStyles/TabContainer.scss";
@import "/XGUI/FunctionStyles/Slider.scss";
@import "/XGUI/FunctionStyles/Checkbox.scss";
@import "/XGUI/FunctionStyles/Resizer.scss";
@import "/XGUI/FunctionStyles/Sidebar.scss";
@import "/XGUI/FunctionStyles/Selector.scss";
@import "/XGUI/FunctionStyles/ControlLabel.scss";
@import "/XGUI/FunctionStyles/Info.scss";

* {
	position: relative;
}